<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexExample</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="flex">
    <div class="main-box">
        <div class="box" style="background-color: coral;">
            <h2>1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, non. Eum nihil ad provident laboriosam,
                doloremque, dolores deserunt ut ipsum recusandae ratione id, vel commodi atque nulla est quae fugit!</p>
        </div>
        <div class="box" style="background-color: greenyellow;">
            <h2>2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, non. Eum nihil ad provident laboriosam,
                doloremque, dolores deserunt ut ipsum recusandae ratione id, vel commodi atque nulla est quae fugit!</p>
        </div>
        <div class="box" style="background-color: lightblue;">
            <h2>3</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, non. Eum nihil ad provident laboriosam,
                doloremque, dolores deserunt ut ipsum recusandae ratione id, vel commodi atque nulla est quae fugit!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore necessitatibus tempore ipsam, ad magnam
                perferendis voluptates sequi asperiores cum, voluptate cupiditate ea, neque iste illum. Quo, assumenda
                cumque. Error, ducimus!</p>
        </div>
        <div class="box" style="background-color: lightgreen;">
            <h2>4</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, non. Eum nihil ad provident laboriosam,
                doloremque, dolores deserunt ut ipsum recusandae ratione id, vel commodi atque nulla est quae fugit!</p>
        </div>
    </div>
</body>

</html>