<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/700da961d8.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <img src="/img/logo.jpg" alt="">
        <button><i class="fas fa-bars"></i></button>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/quienes">QUIENES</a></li>
                <li><a href="/servicios">SERVICIOS</a></li>
                <li><a href="/portfolio">PORTFOLIO</a></li>
                <li><a href="/sucursales">SUCURSALES</a></li>
                <li><a href="/contacto">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <img src="/img/img-banner.jpg" alt="banner">
        </div>
        <div>
            <article>
                <div>
                    <img src="/img/img-pdto-1.jpg" alt="imagen-producto-1">
                    <img src="/img/img-nuevo.png" alt="sticker-nuevo">
                    <a href="">AMPIAR FOTO</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequatur voluptate libero,
                    vero, laudantium error labore possimus dolorum veritatis cumque hic doloremque perspiciatis deserunt
                    tempore unde cum ut ipsum earum.</p>
                    <a href="">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-2.jpg" alt="imagen-producto-2">
                    <img src="/img/img-gratis.png" alt="sticker-gratis">
                    <a href="">AMPIAR FOTO</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequatur voluptate libero,
                    vero, laudantium error labore possimus dolorum veritatis cumque hic doloremque perspiciatis deserunt
                    tempore unde cum ut ipsum earum.</p>
                    <a href="">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-3.jpg" alt="imagen-producto-3">
                    <img src="/img/img-descuento.png" alt="sticker-descuento">
                    <a href="">AMPIAR FOTO</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequatur voluptate libero,
                    vero, laudantium error labore possimus dolorum veritatis cumque hic doloremque perspiciatis deserunt
                    tempore unde cum ut ipsum earum.</p>
                    <a href="">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-1.jpg" alt="imagen-producto-1">
                    <img src="/img/img-gratis.png" alt="sticker-gratis">
                    <a href="">AMPIAR FOTO</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequatur voluptate libero,
                    vero, laudantium error labore possimus dolorum veritatis cumque hic doloremque perspiciatis deserunt
                    tempore unde cum ut ipsum earum.</p>
                    <a href="">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-2.jpg" alt="imagen-producto-2">
                    <img src="/img/img-nuevo.png" alt="sticker-nuevo">
                    <a href="">AMPIAR FOTO</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequatur voluptate libero,
                    vero, laudantium error labore possimus dolorum veritatis cumque hic doloremque perspiciatis deserunt
                    tempore unde cum ut ipsum earum.</p>
                    <a href="">ver más</a>
            </article>
            <article>
                <div>
                    <img src="/img/img-pdto-3.jpg" alt="imagen-producto-3">
                    <img src="/img/img-descuento.png" alt="sticker-descuento">
                    <a href="">AMPIAR FOTO</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequatur voluptate libero,
                    vero, laudantium error labore possimus dolorum veritatis cumque hic doloremque perspiciatis deserunt
                    tempore unde cum ut ipsum earum.</p>
                    <a href="">ver más</a>
            </article>
        </div>
    </main>
    <Footer>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/quienes">QUIENES</a></li>
                <li><a href="/servicios">SERVICIOS</a></li>
                <li><a href="/portfolio">PORTFOLIO</a></li>
                <li><a href="/sucursales">SUCURSALES</a></li>
                <li><a href="/contacto">CONTACTO</a></li>
            </ul>
        </nav>
    </Footer>
</body>

</html>